
body{
    font-family: "roboto";
}

.bg-trasparent{
    background-color: transparent;
    color: transparent;
}

aside{
    height: 100px;
    width: 200px;
    background-color: hsl(210deg 55% 15.69%);
}

main{
    height: 100px;
    width: calc(100% - 200px);
    background-color: hsl(214.54deg 81.67% 50.78%);
}